<header class="main-header">	
    <div class="p-10 clearfix float-left">
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
          <i class="ti-align-left"></i>
      </a>
      <a href="#!" class="logo">
        <span class="logo-lg">
          <button id="sidebarCollapse" style="margin-left: -20px;" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4">
            <i class="fa fa-bars mr-2"></i><small class="text-uppercase font-weight-bold" style="color: black;">
             Cara Cognizance 
            </small>
          </button>
        </span>
      </a>	  
    </div>

</header>
<br>
  <div class="text-centre col-12">
    <div class="text-center">
      <% if(error && error.length > 0){ %>
      <div class="alert alert-danger">
        <%= error %> 
      </div>
      <% } %>
    
      <% if(success && success.length > 0){ %>
      <div class="alert alert-success">
        <%= success %>
      </div>
      <% } %>
    </div>
    </div>