  <nav class="sidenav">
		<div class="menu">
      <h4 style="color: white;"> Cara Cognizance </h4>
			<ul class="menu-list" style="margin-top: 20%;">
        <li class="menu-item">
          <a href="/index"  class="menu-link">
            <%= user.username %> 
        </a>
        </li>

        <% if(!user.isAuthorised){ %> 
          <li class="menu-item">
            <a href="/editMember-<%=user.userItem%>"  class="menu-link">
              Edit Profile
          </a>
          </li>
          <li class="menu-item">
            <a href="/addMember"  class="menu-link">
              Add Member
          </a>
          </li>
          <li class="menu-item">
            <a href="/searchedUsers"  class="menu-link">
              Searched Users
          </a>
          </li>
          <li class="menu-item">
            <a href="/searchItem"  class="menu-link">
              Search
          </a>
          </li>
        <% } %>
        <li class="menu-item">
          <a href="/logout"  class="menu-link">
            Logout
        </a>
        </li>
           <a href="#" style="color: white;font-weight: bold;">&copy; 2020 Cara Cognizance</a>. 
        
        
			</ul>
		</div>
	</nav>