<%- include('../partials/loaders') %> 
<body class="hold-transition register-page" style="background-image: url(/images/background.jpg); background-position: center;
background-repeat: no-repeat;
background-size: cover;">
	
	<div class="container h-p100">
		<div class="row align-items-center justify-content-md-center h-p100">
			<div class="col-lg-4 col-md-8 col-12">
				<div class="register-box bg-img rounded" style="background-image:url(/images/img1.jpg);" data-overlay="5">
				  <div class="register-box-body">
					<h3 class="text-center">Get started with Cara</h3>
					<p class="login-box-msg">Register a new membership(authorised)</p>

					<form action="/authorised/register" method="POST" class="form-element text-white">
					  <div class="form-group has-feedback">
						<input type="text" class="form-control text-white" required name="username" placeholder="Username">
						<span class="ion ion-person form-control-feedback text-white"></span>
					  </div>
					  <div class="form-group has-feedback">
						<input type="email" class="form-control text-white" required name="email" placeholder="Email">
						<span class="ion ion-email form-control-feedback text-white"></span>
					  </div>
					  <div class="form-group has-feedback">
						<input type="password" class="form-control text-white" required name="password" placeholder="Password">
						<span class="ion ion-locked form-control-feedback text-white"></span>
					  </div>
					  <div class="form-group has-feedback">
						<input type="password" class="form-control text-white" required name="confirmPassword" placeholder="Retype password">
						<span class="ion ion-log-in form-control-feedback text-white"></span>
					  </div>
					  <div class="row">
						<div class="col-12">
                            <div class="checkbox">
                                <input required type="checkbox" id="basic_checkbox_1" >
                                <label for="basic_checkbox_1">I agree to the <a href="#" ><b style="color: white;" >Terms</b></a></label>
						    </div>
						</div>
						<div class="text-centre col-12">
							<div class="text-center">
							  <% if(error && error.length > 0){ %>
								<div class="alert alert-danger">
									<%= error %> 
								</div>
							  <% } %>
						  
							  <% if(success && success.length > 0){ %>
								<div class="alert alert-success">
									<%= success %>
								</div>
							  <% } %>
							</div>
						  </div>
						<div class="col-12 text-center">
						  <button type="submit" class="btn btn-info btn-block margin-top-10">SIGN UP</button>
						</div>
					  </div>
					</form>

					 <div class="margin-top-20 text-center">
						<p>Already have an account?<a href="/authorised" class="text-info m-l-5"> Sign In</a></p>
					 </div>
				  </div>

				</div>
			
			</div>
		</div>
	</div>

    <script src="../assets/vendor_components/jquery-3.3.1/jquery-3.3.1.min.js"></script>

</body>

</html>
